// Range
$xs: "only screen and (max-width: " + $extra-small + ")"; // $extra-small or smaller
$sm: "only screen and (max-width: " + $small + ")";       // $small or smaller
$md: "only screen and (max-width: " + $medium + ")";      // $medium or smaller
$lg: "only screen and (max-width: " + $large + ")";       // $large or smaller
$xl: "only screen and (max-width: " + $extra-large + ")"; // $extra-large or smaller

$sx: "only screen and (min-width: " + ($extra-small + 1px) + ")"; // larger than $extra-small
$ms: "only screen and (min-width: " + ($small + 1px) + ")";       // larger than $small
$dm: "only screen and (min-width: " + ($medium + 1px) + ")";      // larger than $medium
$gl: "only screen and (min-width: " + ($large + 1px) + ")";       // larger than $large
$lx: "only screen and (min-width: " + ($extra-large + 1px) + ")"; // larger than $xtra-large

$sxsm: "only screen and (min-width:" + ($extra-small + 1px) + ") and (max-width: " + $small + ")";       // between $extra-small amd $small
$sxmd: "only screen and (min-width:" + ($extra-small + 1px) + ") and (max-width: " + $medium + ")";      // between $extra-small and $medium
$sxlg: "only screen and (min-width:" + ($extra-small + 1px) + ") and (max-width: " + $large + ")";       // between $extra-small and $large
$sxxl: "only screen and (min-width:" + ($extra-small + 1px) + ") and (max-width: " + $extra-large + ")"; // between $extra-small and $extra-large

$msmd: "only screen and (min-width:" + ($small + 1px) + ") and (max-width: " + $medium + ")";      // between $small and $medium
$mslg: "only screen and (min-width:" + ($small + 1px) + ") and (max-width: " + $large + ")";       // between $small and $large
$msxl: "only screen and (min-width:" + ($small + 1px) + ") and (max-width: " + $extra-large + ")"; // between $small and $extra-large

$dmlg: "only screen and (min-width:" + ($medium + 1px) + ") and (max-width: " + $large + ")";       // between $medium and $large
$dmxl: "only screen and (min-width:" + ($medium + 1px) + ") and (max-width: " + $extra-large + ")"; // between $medium and $extra-large

$glxl: "only screen and (min-width:" + ($large + 1px) + ") and (max-width: " + $extra-large + ")"; // between $large and $extra-large

$ranges: (
  lx: $lx,
  gl: $gl,
  dm: $dm,
  ms: $sm,
  sx: $xs,
  xl: $xl,
  lg: $lg,
  md: $md,
  sm: $sm,
  xs: $xs,
  glxl: $glxl,
  dmxl: $dmxl,
  dmlg: $dmlg,
  msxl: $msxl,
  mslg: $mslg,
  msmd: $msmd,
  sxxl: $sxxl,
  sxlg: $sxlg,
  sxmd: $sxmd,
  sxsm: $sxsm,
);
