// Range;
$md: "only screen and (max-width: " + $medium + ")"; // $medium or smaller
$lg: "only screen and (max-width: " + $large + ")";  // $large or smaller

$dm: "only screen and (min-width: " + ($medium + 1px) + ")"; // larger than $medium
$gl: "only screen and (min-width: " + ($large + 1px) + ")";  // larger than $large

$dmlg: "only screen and (min-width:" + ($medium + 1px) + ") and (max-width: " + $large + ")"; // between $medium and $large

$ranges: (
  gl: $gl,
  dm: $dm,
  lg: $lg,
  md: $md,
  dmlg: $dmlg,
);
