@mixin flex-position-rules($range) {
  &.#{$range}-oneline {
    flex-wrap: nowrap;
  }
  &.#{$range}-m-start {
    justify-content: flex-start;
  }
  &.#{$range}-m-end {
    justify-content: flex-end;
  }
  &.#{$range}-m-center {
    justify-content: center;
  }
  &.#{$range}-m-even {
    justify-content: space-between;
  }
  &.#{$range}-m-space {
    justify-content: space-around;
  }
  &.#{$range}-a-stretch {
    align-items: stretch;
  }
  &.#{$range}-a-start {
    align-items: flex-start;
  }
  &.#{$range}-a-end {
    align-items: flex-end;
  }
  &.#{$range}-a-center {
    align-items: center;
  }
  &.#{$range}-a-baseline {
    align-items: baseline;
  }
  &.#{$range}-c-stretch {
    align-content: stretch;
  }
  &.#{$range}-c-start {
    align-content: flex-start;
  }
  &.#{$range}-c-end {
    align-content: flex-end;
  }
  &.#{$range}-c-center {
    align-content: center;
  }
  &.#{$range}-c-even {
    align-content: space-between;
  }
  &.#{$range}-c-space {
    align-content: space-around;
  }
}

@mixin ends($range) {
  .#{$range}-top-end {
    margin-top: 0 !important;
  }
  .#{$range}-bottom-end {
    margin-bottom: 0 !important;
  }
  .#{$range}-left-end {
    margin-left: 0 !important;
  }
  .#{$range}-right-end {
    margin-right: 0 !important;
  }
}

.#{$name} {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;

  & > * {
    flex-basis: auto;
    box-sizing: border-box;
  }

  @include flex-position-rules(g)
}

.#{$name}-outermost {
  margin: 0 auto;
  padding-left: $outermost-padding-left;
  padding-right: $outermost-padding-right;
  max-width: $outermost-width;
}

.g-0 {
  display: none !important;
}

@each $frac, $val in $fractions {
  .g-#{$frac} {
    flex-basis: $val;
    width: $val;
  }
}
@include ends(g)

@each $range, $spec in $ranges {
  @media #{$spec} {
    .#{$range}-0 {
      display: none !important;
    }
    @each $frac, $val in $fractions {
      .#{$range}-#{$frac} {
        flex-basis: $val;
        width: $val;
      }
    }
    .#{$name} {
      @include flex-position-rules($range)
    }
    @include ends($range)
  }
}
