@mixin flex-position-rules($range) {
  .#{$name}-#{$range}-oneline {
    flex-wrap: nowrap;
  }
  .#{$name}-#{$range}-left {
    justify-content: flex-start;
  }
  .#{$name}-#{$range}-right {
    justify-content: flex-end;
  }
  .#{$name}-#{$range}-center {
    justify-content: center;
  }
  .#{$name}-#{$range}-space {
    justify-content: space-around;
  }
  .#{$name}-#{$range}-middle {
    align-items: center;
  }
}

@mixin ends($range) {
  .#{$range}-top-end {
    margin-top: 0 !important;
  }
  .#{$range}-bottom-end {
    margin-bottom: 0 !important;
  }
  .#{$range}-left-end {
    margin-left: 0 !important;
  }
  .#{$range}-right-end {
    margin-right: 0 !important;
  }
}

.#{$name} {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;

  & > * {
    flex-basis: auto;
    box-sizing: border-box;
  }
}

.#{$name}-outermost {
  margin: 0 auto;
  padding-left: $outermost-padding-left;
  padding-right: $outermost-padding-right;
  max-width: $outermost-width;
}

.g-0 {
  display: none !important;
}

@each $frac, $val in $fractions {
  .g-#{$frac} {
    flex-basis: $val;
  }
}
@include flex-position-rules(g)
@include ends(g)

@each $range, $spec in $ranges {
  @media #{$spec} {
    .#{$range}-0 {
      display: none !important;
    }
    @each $frac, $val in $fractions {
      .#{$range}-#{$frac} {
        flex-basis: $val;
      }
    }
    @include flex-position-rules($range)
    @include ends($range)
  }
}
